{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "scss/at-import-partial-extension-whitelist": ["scss"],
    "scss/at-import-partial-extension-blacklist": ["css"],
    "scss/at-extend-no-missing-placeholder": null,
    "max-nesting-depth": 3
  }
}
