<?xml version="1.0" ?>
<list xmlns="http://schemas.sulu.io/list-builder/list">
    <key>settings</key>

    <properties>
        <property name="id" visibility="no" translation="sulu_admin.id">
            <field-name>id</field-name>
            <entity-name>App\Entity\Setting</entity-name>
        </property>

        <property name="key" visibility="always" searchability="yes" translation="sulu_admin.key">
            <field-name>key</field-name>
            <entity-name>App\Entity\Setting</entity-name>
        </property>

        <property name="label" visibility="always" searchability="yes" translation="sulu_admin.label">
            <field-name>label</field-name>
            <entity-name>App\Entity\Setting</entity-name>
        </property>

        <property name="value" visibility="always" searchability="yes" translation="sulu_admin.value">
            <field-name>value</field-name>
            <entity-name>App\Entity\Setting</entity-name>
        </property>
    </properties>
</list>
