{% if block.form %}
    {% if app.request.get('send') != 'true' %}
        {# FORM THEME #}
        {% form_theme block.form '@SuluForm/themes/dynamic.html.twig' %}
        {{ form(block.form) }}
    {% else %}
        <div class="alert alert-success">
            {{ view.blocks[key].form.entity.successText|raw }}
        </div>
    {% endif %}
{% endif %}
