<div class="row images">
    {% for image in block.images %}
        <div class="{{ block.columns|columns }}">
            <a href="{{ image.url }}" class="glightbox" data-gallery="gallery" data-type="image">
                <img src="{{ image.url }}" alt="{{ image.name }}">
            </a>
        </div>
    {% endfor %}
</div>
