<div class="row">
    {% for image in block.images %}
        <div class="{{ block.columns|columns }}">
            <img src="{{ image.url }}" alt="{{ image.name }}">
        </div>
    {% endfor %}
</div>
