<div class="row images">
    {% for image in block.images %}
        <div class="{{ block.columns|columns }}">
            <a href="{{ image.formats['large'] }}" class="glightbox" data-gallery="gallery" data-type="image">
                <img src="{{ image.formats[block.image_format|default('default')] }}" alt="{{ image.name }}">
            </a>
        </div>
    {% endfor %}
</div>
