{% if blocks|length %}
    <div class="row">
        {% for key, block in blocks %}
            <div class="{{ block.width|default('full')|width }}">
                {% if block.type == 'button' %}
                    {% include 'blocks/_button.html.twig' %}
                {% elseif block.type == 'text' %}
                    {% include 'blocks/_text.html.twig' %}
                {% elseif block.type == 'divider' %}
                    {% include 'blocks/_divider.html.twig' %}
                {% elseif block.type == 'images' %}
                    {% include 'blocks/_images.html.twig' %}
                {% elseif block.type == 'form' %}
                    {% include 'blocks/_form.html.twig' %}
                {% elseif block.type == 'location' %}
                    {% include 'blocks/_location.html.twig' %}
                {% elseif block.type == 'media' %}
                    {% include 'blocks/_media.html.twig' %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
